
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 20% 9%;
    --foreground: 0 0% 98%;

    --card: 240 20% 12%;
    --card-foreground: 0 0% 98%;
    
    --popover: 240 20% 12%;
    --popover-foreground: 0 0% 98%;
    
    --primary: 240 5.9% 90%;
    --primary-foreground: 240 5.9% 10%;
    
    --secondary: 240 4.8% 30%;
    --secondary-foreground: 0 0% 98%;
    
    --muted: 240 4.8% 25%;
    --muted-foreground: 240 3.8% 76.1%;
    
    --accent: 240 4.8% 30%;
    --accent-foreground: 0 0% 98%;
    
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 30%;
    --input: 240 5.9% 30%;
    --ring: 240 5.9% 90%;
    
    --radius: 0.75rem;
  }
 
  * {
    @apply border-border antialiased;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
